<div class="row">
  <div class="col-md-6">
    <h3>Session 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>
        <a href="https://swcarpentry.github.io/r-novice-gapminder/setup.html">Setup</a> <br>
        <a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Introduction to R and Rstudio</a>
        <a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a>
        <a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html">Exploring Data Frames</a>
      </td> </tr>
      <tr> <td>10:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Session 2</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:15</td>  <td>
        <a href="https://swcarpentry.github.io/r-novice-gapminder/setup.html">Setup</a> <br>
        <a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Introduction to R and Rstudio</a>
        <a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a>
        <a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html">Exploring Data Frames</a>
      </td> </tr>
      <tr> <td>12:15</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
